 <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About us</h1>
        <p class="text-center sub-heading">grow your skill with us</p>
        <div class="row">

          <div class="col-md-6 col-12 hero-text">
            <figure>
              <img src="images/about.svg" alt="herosection_image">
            </figure>
          </div>

          {{!-- right side --}}
          <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
            <h1> WE ARE THE PROFESSIONAL
              DEVELOPER ⪍ </h1>

            <p>We Are The Team Of <span class="bold-style"> Professional Developer </span>A developer is an individual
              that builds and create software and applications. He or she writes, debugs and executes the source code of
              a software application.</p>
            <button class="btn-style btn-primary">Read more.</button>
          </div>

        </div>
      </div>
    </div>
  </div>